{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="col-md-6 offset-md-3">
    <h2 class=""> <i class=""></i>Déconnecté!</h2>
    <hr><br/>
    <p>Merci pour le temps que vous avez accordé à ce site aujourd’hui.</p>
        <a href="{% url 'dashboard' %}">Retourner à la page d'acceuil</a>
            
</div>

<!--SweetAlert-->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
   {% if user.is_authenticated %}

    {% else %}
       /*swal.fire('{{msg}}');*/
       Swal.fire({
           position: 'top-end',
           icon: 'info',
           title: "Dans l'espoir de vous revoir bientôt",
           showConfirmButton: false,
           timer: 5500
           })

  
   {% endif %}
</script>

{% endblock content %}