{% extends 'base.html' %}
{% block content %}
<section class="product_list bg-light py-4 px-3 rounded">
  <div>
    <h3 class="text-gray-800"><i class="fas fa-stream text-primary"></i> Details Produit</h3>
    <hr>  
  </div>

  <div class="card">

    <div class="card-header">
      <strong>{{ customer_product.name }}</strong>
    </div>

    <div class="card-body">
      <p class="card-text">
      <strong>Formule: </strong>{{ customer_product.formule }} <span class="btn btn-warning p-6 " style="font-size: 8px;" title="{{ customer_product.formule.description}}"> {{ customer_product.formule.description}}</span></p>

      <p class="card-text">
      <strong>Unité: </strong>{{ customer_product.uom }}
      </p>

      <p class="card-text">
      <strong>Prix Unitaire: </strong>{{ customer_product.price_per_unit }} Fcfa</p>
    </div>
  </div>

  <br/>
  <a href="{% url 'records:products_list' %}" class="btn btn-secondary" style="margin-right: 15px;">Retour</a>

  <a href="{% url 'records:update_product' customer_product.id %}" class="btn btn-primary" style="margin-right: 15px;"  >Modifier</a>

  <a class="btn btn-danger btn-sm ml-1" href="#"><i class="fas fa-trash-alt" data-toggle="modal" data-target="#deleteModal" title=""></i></a>


  <!-- #1.DELETE  -->                                			                                     
			<!-- Button trigger modal -->
				<!-- Modal -->
						<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel"><i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Suppression</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  
                  </button>
                  </div>
                  <div class="modal-body text-center">
                      <span class="text-danger"><i class="fas fa-trash-alt fa-3x mt-2"></i></span>
                      <div style="height:50px;" class="mt-2"><b>Etes-vous sûr de vouloir supprimer le produit "{{customer_product.name}}" ?</b></div>
                  </div>
                  <div class="modal-footer">
                  
                  <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Annuler</button>
                  <a  href="{% url 'records:delete_product' customer_product.id %}" type="button" class="btn btn-outline-danger btn-sm">Confirmer</a>
                  
                  </div>
                </div>
							</div>
							
						</div>
	<!-- #ENDDELETE  --> 
		
</section>
{% endblock %}