{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section class="product_list bg-light py-4 px-3 rounded">

  <div class="">
    <h3 class="text-dark "><i class="fa fa-store"></i>Ajout Point de vente</h3>
    <hr>
  </div>
  <br>

  <form method="POST" action="{% url 'sales:add_sales_point' %}">
    {% csrf_token %}

    {{ form | crispy }}

  <br/>
    <button type="submit" class="btn btn-success">Valider</button>
    <a href="{% url 'sales:sales_points_list' %}" class="btn btn-danger">Annuler</a>

  </form>

  </div>
</section>

{% endblock %}

