{% extends "base.html" %}
{% block content %}

<section class="product_list bg-light py-4 px-3 rounded">
    {% include 'includes/topnav.html' %}
    <hr>
    <div>
        <h3 class=""><i class="fa fa-store text-success"></i> Points de vente</h3>
        <hr>
        <a href="{% url 'sales:add_sales_point' %}" class="ml-2 mt-6 btn btn-secondary">Nouveau point de vente</a> 
    </div>
    <br>

    {% if not sales_points %}
    <div class="" style="background-color: blanchedalmond;">
        There isn't any record in this database
    </div><br>
    {% else %}
    <table class="table table-striped table-hover table-bordered" style="font-size: 13px;">
        <thead class="table-dark">
            <tr>
                <th scope="col">Point de vente</th>
                <th scope="col">Adresse</th>
                <th scope="col">Email</th>
                <th scope="col">Téléphone</th>
                <th scope="col">BP</th>
                <th scope="col">Ville</th>
                <th scope="col">Pays</th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>

            {% for sales_point in sales_points %}
                <tr>
                    <td><a href="{% url 'sales:update_sales_point' sales_point.id %}" class="fw-bold " style="text-decoration:none;">{{ sales_point.name}}</a></td>
                    <td>{{ sales_point.address }}</td>
                    <td>{{ sales_point.email }}</td>
                    <td>{{ sales_point.phone }}</td>
                    <td>{{ sales_point.zipcode }}</td>
                    <td>{{ sales_point.city }}</td>
                    <td>{{ sales_point.country }}</td>
                    <td>
                        <a class="btn btn-danger btn-sm ml-1" href="#"><i class="fas fa-trash-alt" data-toggle="modal" data-target="#deleteModal" title=""></i></a>
                    </td>
                    
                </tr>

            <!-- #1.DELETE  -->                                			                                     
                        <!-- Button trigger modal -->
                            <!-- Modal -->
                            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel"><i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Suppression</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    
                    </button>
                    </div>
                    <div class="modal-body text-center">
                        <span class="text-danger"><i class="fas fa-trash-alt fa-3x mt-2"></i></span>
                        <div style="height:50px;" class="mt-2"><b>Etes-vous sûr de vouloir supprimer cette formule ?</b></div>
                    </div>
                    <div class="modal-footer">
                    
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Annuler</button>
                    <a  href="{% url 'sales:delete_sales_point' sales_point.id %}" type="button" class="btn btn-outline-danger btn-sm">Confirmer</a>
                    
                    </div>
                </div>
                                </div>
                                
                            </div>
        <!-- #ENDDELETE  --> 
        {% endfor %}
        </tbody>

    </table>
    {% endif %}

    

</section>

{% endblock %}