<div class="row">
        
    <div class="col-md-12 mt-2">
        <div class="card">
            <div class="card-header text-white" style="background-color: rgba(205, 102, 18, 0.4);"><i class="zmdi zmdi-assignment zmdi-hc-fw text-light"></i>
                Records
            </div>
            
            <div class="card-body">

                <div class="row">

                    <div class="col-md-2">
                        <a class="text-decoration-none text-dark" href="{% url 'records:products_list' %}">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h6 title="List of products Healthy Baobab">Produits <i class="fas fa-box"></i></h6>
                                    <h3>{{ products_count }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>


                    <div class="col-md-2">
                        <a class="text-decoration-none text-dark" href="{% url 'records:formules_list' %}">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h6>Formules <i class="fas fa-flask"></i></h6>
                                    <h3>{{ orders_count }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-2">
                        <a class="text-decoration-none text-dark" href="{% url 'records:uoms_list' %}">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h6>UOM <i class="fa fa-ruler-combined"></i></h6>
                                    <h3>{{ orders_count }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-2">
                        <a class="text-decoration-none text-dark" href="{% url 'records:staff' %}">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h6>Staff <i class="fas fa-users"></i></h6>
                                    <h3>{{ workers_count }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                    <div class="col-md-2">
                        <a class="text-decoration-none text-dark" href="{% url 'sales:sales_points_list' %}">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h6>Pts de vente <i class="fa fa-store"></i></h6>
                                    <h3>{{ orders_count }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>