{% extends 'partials/logon.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="login-logo mt-5 offset-5">
    <a href="#" class="text-white fs-1" style="text-decoration:none ; font-size:30px;"><b>IT'WATCH<i class=" text-white fas fa-eye"></i></b></a>
</div>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class=" p-3 bg-dark ">
                <p class="login-box-msg mt-7 text-secondary">Bravo!</p>
                <hr>
                <div class="alert alert-success">
                    <h4>Maintenant vous pouvez acceder à l'apllication avec votre nouveau mot de passe! </h4>
                </div>
                <a href="{% url 'user-login' %}">Login</a>
                
            </div>
        </div>
    </div>
</div>

{% endblock content %}