{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <!--Profile-->
<div class="col-md-8 offset-md-2">

    <h2><i class="fa fa-address-card"></i>&nbsp;Détails profil</h2>
    <hr>


    <div class="card">
        <div class="card-header font-weight-bold fs-5 text-secondary text-uppercase" style="background-color: rgb(255, 255, 255);">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                    <span class="fa fa-user-circle fa-2x"></span>
                </span>&nbsp;&nbsp;
                {{user.username}} | <a href="{% url 'dashboard' %}" class="float-right ml-5"> <span class="" style="font-size: 12px; font-weight:normal; margin-left: 480px;"><i class="fa fa-home fa-2x"></i></span> </a>
            </div>  
            
        </div>
        <div class="card-body bg-dark">
            <div class="row ">
                <div class="col-md-5 mt-5">
                    <img class="img-thumbnail fa-image" src="{{user.profile.profile_image.url}}" alt="">
                </div>
                <div class="col-md-6 mt-0 pt-0 ">
                    <!--span class="h4"> Profile Information</!--span> <a class="btn btn-dark btn-sm float-right" href="{% url 'user-profile-update' %}" data-toggle="modal" data-target="#addModal">Edit</!--a-->
                    <span class="h6 fs-italic " style="font-style: italic;"> Profile Informations</span>
                    <hr>
                    <table class="table  table-borderless text-light mt-0 pt-0">
                        <tbody class="mt-0 pt-0">
                            <tr>
                                <th scope="row" style="color: gray;"><i class="fas fa-user-circle"></i>&nbsp;Nom(s):</th>
                                <td>{{user.last_name}}</td>
                            </tr>
                            <tr>
                                <th scope="row" style="color: gray;"><i class="far fa-user-circle"></i>&nbsp;Prénom(s):</th>
                                <td>{{user.first_name}}</td>
                            </tr>
                            <tr>
                                <th scope="row" style="color: gray;"><i class="fa fa-user-tie"></i>&nbsp;Fonction:</th>
                                <td>{{user.profile.job_function}}</td>
                            </tr>
                            <tr>
                                <th scope="row" style="color: gray;"><i class="fa fa-at" ></i>&nbsp;Email:</th>
                                <td>{{user.email}}</td>
                            </tr>

                            <tr>
                                <th scope="row" style="color: gray;"><i class="fa fa-mobile"></i>&nbsp;Télephone:</th>
                                <td>{{user.profile.phone}}</td>
                            </tr>
                            
                            <tr>
                                <th scope="row" style="color: gray;"><i class="fas fa-city"></i>&nbsp;Adresse:</th>
                                <td>{{user.profile.address}}</td>
                            </tr>
                            <tr>
                                <td><a class="btn btn-light btn-sm float-right" href="{% url 'user-profile-update' %}"><span class="fa fa-pencil" style="color: gray;"></span> Modifier</a></td>
                            </tr>
                        </tbody>
                        
                    </table>

                </div>
                
            </div>
        </div>
    </div>
</div>
    <!--EndProfile-->

<!-- AddModal 
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header btn-success">
        <h5 class="modal-title" id="addModalLabel"><i class="fas fa-plus "></i>&nbsp;&nbsp;Modification Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
            <form method="POST" class="p-5">
                {% csrf_token%}
                {{profile_form|crispy}}
                <a href="{% url 'user-profile-details' %}" class="btn btn-secondary" >Annuler</a>
                <input type="submit" class="btn btn-success" value="Modifier">
            </form>
        </div>
    </div>
</div>
<!--End Modal-->


{% endblock %}